html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
#header {
    background-image: url("https://img.sosoos.com/i/2025/02/07/424113.webp");
    background-size: 100vmax;
    background-position: center center;
}
#header > .navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px #e1e1e1 solid;
}
#header > .navbar button {
    outline: none;
    border: 1px #e1e1e1 solid;
    background: transparent;
    line-height: 100%;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
}
#header > .navbar a {
    text-decoration: none;
    color: #f4f4f4;
    display: inline-block;
    margin: 0 7px;
}
#header > .profile {
    padding: 100px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 1px #000;
}
#header > .profile > .name {
    font-size: 24px;
    font-weight: bold;
}
#header > .profile > .descript {
    font-size: 18px;
    line-height: 40px;
}
#header > .profile > .types {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
#header > .profile > .types > div {
    display: flex;
    align-items: center;
    padding: 7px 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, .4);
    cursor: pointer;
    gap: 6px;
}
#info {
    background-color: #f1f1f1;
    padding: 50px 10vw;
}
#info > .head {
    width: 100px;
    height: 100px;
    background-image: url("../images/head_300.jpg");
    background-size: 100px 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#info > .name {
    display: flex;
    align-items: center;
    font-size: 20px;
}
#info > .descript {
    border-top: 1px #d3d3d3 solid;
    padding: 15px 0;
    margin: 20px 0;
}
#info > .descript > .title {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
#info > .descript > .content {
    color: #1b1b1b;
    margin: 10px 0 0 0;
    line-height: 200%;
}
#info > .descript > .content a {
    color: #00a2ff;
    text-decoration: none;
}
#info > .descript > .content img {
    max-width: 100%;
}